<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
    xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Page Character</title>
        <meta charset="UTF-8"/>
    </head>
    <body>
        <h1>Page Character</h1>
        
          <div th:if="${listCharacter != null}">
        <table border="1">
                <tr>
                    <th>Imagen del personaje</th>
                    <th>Nombre del personaje</th>
                    <th>Mas Detalles</th>

                </tr>
                <tr th:each="character : ${listCharacter}">
                    <td> <img th:src="@{'/images/' + ${character.imageCharacter}}" th:alt="${character.imageCharacter}" style="width: 100%;height: 100px;"/></td>
                    <td th:text="${character.nameCharacter}">Muestra Nombre</td>
                    <td> <a th:href="@{/#}" th:text="Detalles"/> </td>
                </tr>
            </table>
        </div>
        <div th:if="${listCharacter == null}">
            Es null
        </div>
        
    </body>
</html>
