<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
    xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Herramienta Admin</title>
        <meta charset="UTF-8"/>
    </head>
    <body>
        <div>Herramienta admin</div>
        
        <div th:if="${characterList != null}">
        <table border="1">
                <tr>
                    <th>imagenPersonaje</th>
                    <th>nombrePersonaje</th>
                    <th>edadPersona</th>
                    <th>pesoPersonaje</th>
                    <th>historiaPersonaje</th>
                    <th>peliculasAsociadas</th>
                    <th>Editar</th>
                    <th>Eliminar</th>
                </tr>
                <tr th:each="character : ${characterList}" th:field="*{movie}">
                    <td> <img th:src="@{'/images/' + ${character.imageCharacter}}" th:alt="${character.imageCharacter}" style="width: 100%;height: 100px;"/></td>
                    <td th:text="${character.nameCharacter}">Muestra nombre</td>
                    <td th:text="${character.ageCharacter}">Muestra edad</td>
                    <td th:text="${character.weightCharacter}"> Muestra peso</td>
                    <td th:text="${character.historyCharacter}">Muestra historia</td>
                    <td th:each="movieAux : ${movieList}" th:if="${movieAux.idMovie == character.idCharacter}" th:text="${movieAux.titleMovie}"> Muestra Perosnaje asociado</td>
                    <td> <a th:href="@{/characters/edit-character/}+ ${character.idCharacter}" th:text="Editar"/> </td>
                    <td> <a th:href="@{/#}" th:text="Eliminar"/> </td>
                </tr>
            </table>
        </div>
        <div th:if="${characterList == null}">
            Es null
        </div>
    </body>
</html>
