<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
    xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Panel Admin</title>
        <meta charset="UTF-8"/>
    </head>
    <body>
        <div>Panel Admin</div>
        
        <br/><br/>
        <a th:href="@{/admin/movie-form}">Agregar Nueva Pelicula</a>
        <br/><br/>
        <a th:href="@{/characters/character-form}">Agregar Nuevo Personaje</a>
        <br/><br/>
        <a th:href="@{/characters/list}">Editar Personaje</a>
    </body>
</html>
